figure, body{
  padding: 0;
  margin: 0;
}
.container{
  margin-left: 5px;
  margin-right: 5px;
}

/* relativo al background dell'header */
.blue-background{
  background-color: rgb(0, 150, 220);
}

.background-row{
  width: 100%;
  height: 100px;
  background-image: url(../img/pattern.png);
  background-repeat: repeat;
  background-size: 400px;
  background-position: 8% 2% ;
}

.logo{
  padding-top: 40px;
  width: 200px;
  vertical-align: text-bottom;
}

.heading{
  font-size: 50px;
  margin-bottom: 0;
  margin-left: 5px;
}

/* stile header footer */
.author-date{
  margin-bottom: 20px;
  margin-left: 5px;
}
.author{
  margin: 0;
}

/* margini eliminati + stile per il colori e grassetto*/
.grey{
  color: rgb(130, 130, 130);
}
.blue{
  color: rgb(0, 150, 220);
}
.bold{
  font-weight: bold;
}


/* tabella */
.tab{
  width: 100%;
}
thead{
  background-color: rgb(10, 180, 250);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.blue-tab{
  background-color: rgb(170, 230, 250);
}
.cell{
  padding: 20px;
  width: 25%;
}

/* stile footer + immagini*/
.ads-title{
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-img1, .footer-img2{
  font-size: 1.5em;
  width: 270px;
  height: 200px;
  color: rgb(255, 255, 255);
  background-size: contain;
  margin-top: 1em;
}
.footer-img1{
  background-image: url(../img/monitor.jpg);
}
.footer-img2{
  background-image: url(../img/graph.jpg);
}
